{{ define "main" }}
<div class="max-w-3xl mx-auto mt-48 mb-28 px-4">
	<h1 class="text-7xl text-center font-bold mt-16 mb-4">
		<mark>What’s new in Dashify</mark>
	</h1>
	<style>
		mark {
			border-radius: 0.8em 0.3em;
			background: transparent;
			background-image: linear-gradient(
				to right,
				rgba(196, 152, 165, 0.1),
				rgba(196, 152, 165, 0.7) 4%,
				rgba(196, 152, 165, 0.4)
			);
			-webkit-box-decoration-break: clone;
			box-decoration-break: clone;
		}
	</style>
	<p class="mb-20 text-2xl text-center rounded-xl p-4">We make WooCommerce better with each update.</p>
	<div class="mb-4 flex gap-4">
		<button id="all" class="tab pb-1 border-b-4 border-b-[#dcc6cd] transition">All</button>
		<button id="free" class="tab pb-1 border-b-4 border-b-transparent transition">Free</button>
		<button id="pro" class="tab pb-1 border-b-4 border-b-transparent transition">Pro</button>
	</div>
	<section>
		<div class="flex flex-col gap-8">
		{{ range .Pages }}
			<article data-dashify-pro="{{ .Params.Pro }}" class="p-8 rounded-2xl shadow {{ if .Params.Pro }}bg-gradient-to-br from-gray-500 to-gray-700 text-gray-50{{ else }}bg-[#dfcad13d]{{ end }}">
				<div class="mb-4 flex justify-between font-mono text-sm {{ if .Params.Pro }}text-gray-50{{ else }}text-gray-500{{ end }}">
					<time
						datetime='{{ .Date.Format "2006-01-02" }}'
						class="block"
					>
						{{ .Date.Format "2006-01-02" }}
					</time>
					<span>
						{{ .Params.Version }}
					</span>
				</div>
				<a
					href="{{ .Permalink }}"
					class="font-semibold text-2xl underline decoration-gray-400"
				>
					<h2>{{ .Title }}</h2>
				</a>
				<div class="prose prose-h3:text-xl prose-h3:mt-0 prose-img:rounded-lg prose-img:border prose-img:border-gray-200 {{ if .Params.Pro }}text-gray-50 prose-a:text-gray-50 prose-img:border-0 prose-h3:text-gray-50{{ end }} img-all-around-shadow mt-8">
					{{ .Content }}
				</div>
			</article>
		{{ end }}
		</div>
	</section>
	<script>
		const tabs = document.querySelectorAll('.tab');
		const tabIds = ['all', 'free', 'pro'];
		const articles = document.querySelectorAll('article');

		for (const tab of tabs) {
			tab.addEventListener('click', event => {
				const clickedId = event.target.id;

				for (const id of tabIds) {
					const element = document.querySelector(`#${id}`);
					element.classList.toggle('border-b-[#dcc6cd]', id === clickedId);
					element.classList.toggle('border-b-transparent', id !== clickedId);
				}

				// Handle article visibility
				for (const article of articles) {
					const isPro = article.getAttribute('data-dashify-pro') === 'true';
					switch (clickedId) {
						case 'all':
							article.classList.remove('hidden');
							break;
						case 'free':
							article.classList.toggle('hidden', isPro);
							break;
						case 'pro':
							article.classList.toggle('hidden', !isPro);
							break;
					}
				}
			});
		}
	</script>
</div>
{{ end }}
