{{ define "main" }}
<article class="px-4 pt-40 pb-28 max-w-4xl mx-auto text-lg leading-6">
	<h1 class="text-4xl font-bold mb-4">{{ .Title }}</h1>
	<p class="mb-2">Dashify <strong>{{ .Params.Version }}</strong></p>
	<p class="mb-8">Released <time datetime='{{ .Date.Format "2006-01-02" }}' class="font-semibold">{{ .Date.Format "2 January 2006" }}</time></p>
	<article class="prose max-w-none">
		{{ .Content }}
	</article>
	<div class="bg-[#9D6095E3] mt-28 text-xl mx-auto text-center py-12 px-8 text-gray-50 rounded-lg">
		<p class="mb-6 mx-auto">👋 Dashify is a plugin that makes the WooCommerce order admin <strong>cleaner and more intuitive</strong>, helping you to <strong>manage orders efficiently</strong>.</p>
		<a
			href="/"
			class="inline-block py-4 px-6 rounded-full bg-gray-800 text-gray-50 font-semibold hover:shadow-lg transition"
		>
			Learn about Dashify
		</a>
	</div>
</article>
{{ end }}
