<script>
	window.addEventListener('scroll', function() {
		const navbar = document.querySelector('#navbar');
		const logo = document.querySelector('#nav-logo');
		const menuIcon = document.querySelector('#menu-icon');
		const links = document.querySelectorAll('nav#desktop-nav a');
		const downloadLink = document.querySelector('#nav-download-link');

		if (window.scrollY > 50) {
			navbar.classList.add('bg-[#ffffff56]', 'shadow-sm');
			logo.classList.add('bg-gray-800')
			menuIcon.classList.add('bg-gray-800')
			for (const link of links) {
				link.classList.add('text-gray-800');
			}
			downloadLink.classList.remove('hover:text-gray-800');
			downloadLink.classList.add('border-gray-800', 'hover:bg-gray-800', 'hover:text-gray-50');
		} else {
			navbar.classList.remove('bg-[#ffffff56]', 'shadow-sm');
			logo.classList.remove('bg-gray-800')
			menuIcon.classList.remove('bg-gray-800')
			for (const link of links) {
				link.classList.remove('text-gray-800');
			}
			downloadLink.classList.remove('border-gray-800', 'hover:bg-gray-800', 'hover:text-gray-50');
			downloadLink.classList.add('hover:text-gray-800');
		}
	});
</script>
