{{ define "main" }}
<div class="max-w-7xl mx-auto mt-48 mb-28 px-4">
	<h1 class="text-4xl md:text-7xl text-center font-bold mt-16 mb-4">
		<mark>The Dashify Blog</mark>
	</h1>
	<style>
		mark {
			border-radius: 0.8em 0.3em;
			background: transparent;
			background-image: linear-gradient(
				to right,
				rgba(196, 152, 165, 0.1),
				rgba(196, 152, 165, 0.7) 4%,
				rgba(196, 152, 165, 0.4)
			);
			-webkit-box-decoration-break: clone;
			box-decoration-break: clone;
		}
	</style>
	<p class="mb-20 text-xl md:text-2xl text-center rounded-xl p-4">WooCommerce tutorials and tips, along with news from the Dashify team.</p>
	<section class="mb-12">
		<h2 class="text-2xl font-bold mb-8">Dashify news</h2>
		<div class="grid sm:grid-cols-2 md:grid-cols-3 gap-8">
		{{ range where .Pages "Params.section" "news" }}
			{{ partial "post-card.html" . }}
		{{ end }}
		</div>
	</section>
	<section>
		<h2 class="text-2xl font-bold mb-8">Latest tutorials</h2>
		<div class="grid sm:grid-cols-2 md:grid-cols-3 gap-8">
		{{ range where .Pages "Params.section" nil }}
			{{ partial "post-card.html" . }}
		{{ end }}
		</div>
	</section>
</div>
{{ end }}
