{{ define "main" }}
<article class="px-4 pt-40 pb-28 max-w-4xl mx-auto text-lg leading-6">
	<h1 class="text-4xl font-bold mb-4">{{ .Title }}</h1>
	<p class="mb-8">Published <time datetime='{{ .Date.Format "2006-01-02" }}' class="font-semibold">{{ .Date.Format "2 January 2006" }}</time> by <a href="mailto:john@getdashify.com" class="underline">John Jago</a></p>
	<article class="prose max-w-none">
		{{ .Content }}
	</article>
	<div class="bg-[#9D6095E3] mt-28 text-lg mx-auto text-center p-8 text-gray-50 rounded-lg">
		<p class="mb-4 font-bold">Thanks for reading! 🎉</p>
		<p class="mb-8 mx-auto">By the way—we’re the creators of Dashify, a plugin that makes the WooCommerce order admin <strong>cleaner and more intuitive</strong>, helping you <strong>manage orders efficiently</strong>.</p>
		<a
			href="/"
			class="inline-block py-4 px-6 rounded-full bg-gray-800 text-gray-50 font-semibold hover:shadow-lg transition"
		>
			Learn about Dashify
		</a>
	</div>
</article>
{{ end }}
