{{ define "main" }}
<article class="blog-post px-4 pt-40 pb-28 max-w-3xl mx-auto text-lg leading-6">
	<h1 class="text-4xl font-bold mb-4">{{ .Title }}</h1>
	<p class="mb-8">Published <time datetime='{{ .Date.Format "2006-01-02" }}' class="font-semibold">{{ .Date.Format "2 January 2006" }}</time> by <a href="mailto:john@getdashify.com" class="underline">John Jago</a></p>
	<article class="prose prose-lg prose-h2:text-2xl prose-h3:text-xl max-w-none">
		{{ .Content }}
	</article>
	{{ if ne .Params.section "news" }}
	<div class="bg-[#804D79E3] mt-28 mx-auto p-8 text-gray-50 rounded-lg flex flex-col gap-4">
		<p class="prose prose-lg text-gray-50 mx-auto">
			Thanks for reading! By the way, we’re the creators of Dashify, a WooCommerce plugin which gives the WordPress admin a modern, ecommerce-centric design to make managing a store more efficient.
		</p>
		<div class="flex justify-center">
			<a href="/" class="py-4 px-6 w-fit whitespace-nowrap rounded-full bg-gray-800 text-gray-50 text-base font-semibold hover:shadow-lg transition">
				Learn about Dashify
			</a>
		</div>
	</div>
	{{ else }}
	<div class="mt-24 mx-auto text-center">
		<a
			href="/blog/"
			class="text-lg font-semibold text-[#804D79] border-2 border-[#804D79E3] rounded-lg py-4 px-8 hover:bg-gray-100 transition"
		>All blog posts</a>
	</div>
	{{ end }}
</article>
{{ end }}
