{{ define "main" }}
<section class="pt-40 pb-32 px-8 text-center max-w-6xl mx-auto">
	<h1 class="text-5xl font-bold mb-16 text-transparent bg-clip-text bg-gradient-to-br from-[#9D6095] to-[#E8A04D]">Previous and next order buttons for WooCommerce</h1>
	<p class="text-3xl mt-16 mb-12 max-w-4xl mx-auto">Tired of going back to the order list when manually processing orders? <b class="font-bold">Jump to next and previous orders with Dashify.</b></p>
	<img
		src="/images/previous-next-order-buttons.gif"
		alt="Screen recording of a person clicking into a WooCommerce order from the order list after selecting the Processing status, and then going to the previous orders of that status using the order navigation buttons that Dashify adds to the order view."
		class="w-full lg:max-w-7xl lg:w-none mx-auto rounded-lg shadow-2xl"
	>
	<h2 class="text-4xl font-semibold mt-32">What else can it do?</h2>
	<div class="sm:flex mt-12 text-left">
		<div class="sm:w-1/2 p-4 my-4 sm:mx-4 sm:my-0 bg-gray-100 rounded-lg">
			<div class="flex mb-2">
				<img src="/images/filter-icon.svg" class="w-6 mr-2">
				<h2 class="font-bold text-lg">Status filter</h2>
			</div>
			<p>If you select an order status in the order list and then click an order, the buttons will jump to the next order of the same status.</p>
		</div>
		<div class="sm:w-1/2 p-4 sm:mx-4 sm:my-0 bg-gray-100 rounded-lg">
			<div class="flex mb-2">
				<img src="/images/keyboard-icon.svg" class="w-6 mr-2">
				<h2 class="font-bold text-lg">Shortcuts</h2>
			</div>
			<p>Use J and K keyboard shortcuts to navigate orders quickly.</p>
		</div>
	</div>
</section>
<section class="py-32 px-4 bg-gradient-to-b from-[#9D6095B3] to-[#E8A04DB3] border-t text-center">
	<h2 class="text-white text-5xl font-bold mb-16">Manage WooCommerce orders more effectively.</h2>
	<a
		href="https://wordpress.org/plugins/dashify/"
		class="py-4 px-6 rounded-full bg-gray-800 text-gray-50 text-xl font-semibold hover:shadow-lg transition"
	>
		Get Dashify
</a>
</section>
{{ end }}
