{{ define "main" }}
<section class="pt-40 pb-24 px-8 text-center max-w-6xl mx-auto">
	<h1 class="text-4xl md:text-5xl !leading-[3.5rem] text-balance font-bold mb-8 text-transparent bg-clip-text bg-gradient-to-br from-[#9D6095] to-[#E8A04D]">{{ .Title }}</h1>
	<p class="text-2xl mb-12 max-w-4xl font-medium mx-auto">{{ .Params.Subtitle }}</p>
	<img
		src="{{ .Params.ImageURL }}"
		alt="{{ .Params.ImageAlt }}"
		class="{{ .Params.ImageClasses }} mx-auto rounded-lg shadow-2xl"
	>
	<div class="mt-24 grid sm:grid-cols-2 gap-4 text-left">
		{{ range .Params.highlights }}
		<div class="p-4 bg-gray-100 rounded-lg">
			<div class="flex mb-2">
				{{ if .icon }}<img src="{{ .icon }}" class="w-6 mr-2">{{ end }}
				<h2 class="font-bold text-lg">{{ .title }}</h2>
			</div>
			<p>{{ .description }}</p>
		</div>
		{{ end }}
	</div>
</section>
{{ partial "end-cta.html" . }}
{{ end }}
