@tailwind base;
@tailwind components;
@tailwind utilities;

#nav-logo {
	mask-image: url(/images/logo.svg);
	mask-size: contain;
	mask-repeat: no-repeat;
}

#menu-icon {
	mask-image: url(/images/menu.svg);
	mask-size: contain;
	mask-repeat: no-repeat;
}

#menu-close-icon {
	mask-image: url(/images/close.svg);
	mask-size: contain;
	mask-repeat: no-repeat;
}

.star {
	mask-image: url(/images/star.svg);
	mask-size: contain;
	mask-repeat: no-repeat;
}

.img-all-around-shadow img {
	box-shadow: 0 0 1rem -0.25rem rgba(0, 0, 0, 0.25);
}

.blog-post img {
	max-width: min(98vw, calc(100% + 7rem));
}

.blog-post p:has(img) {
	display: flex;
	justify-content: center;
}
