<footer class="bg-gray-700 text-gray-50 py-12">
	<div class="max-w-7xl mx-auto font-semibold px-4">
		<div class="flex flex-col gap-12 md:flex-row md:justify-between">
			<div>
				<h2 class="text-xl font-bold mb-4">Product</h2>
				<ul class="flex flex-col gap-2 text-gray-200">
					<li>
						<a href="/#features" class="underline decoration-gray-500">Features</a>
					</li>
					<li>
						<a href="/#pricing" class="underline decoration-gray-500">Pricing</a>
					</li>
					<li>
						<a href="/roadmap/" class="underline decoration-gray-500">Roadmap</a>
					</li>
					<li>
						<a href="https://wordpress.org/plugins/dashify/" class="underline decoration-gray-500">WordPress.org</a>
					</li>
				</ul>
			</div>
			<div>
				<span class="flex mb-4 items-center">
					<h2 class="text-xl font-bold">Releases</h2>
					<span class="ml-2 -rotate-6 bg-green-100 text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-green-900 dark:text-green-300">New</span>
				</span>
				<ul class="flex flex-col gap-2 text-gray-200">
					{{ range first 3 (where .Site.RegularPages "Type" "releases") }}
					<li>
						<small class="font-mono text-gray-400">{{ .Date.Format "2006-01-02" }} • </small><a href="{{ .RelPermalink }}" class="underline decoration-gray-500">{{ .Title }}</a>
					</li>
					{{ end }}
					<small class="mt-2">
						<a href="/releases/" class="underline decoration-gray-500">See all updates →</a>
					</small>
				</ul>
			</div>
			<div>
				<h2 class="text-xl mb-4">Help</h2>
				<ul class="flex flex-col gap-2 text-gray-200">
					<li><a href="https://forms.gle/pRezSbdUcZmvZdX27" class="underline decoration-gray-500">Report a bug</a></li>
					<li><a href="https://forms.gle/pRezSbdUcZmvZdX27" class="underline decoration-gray-500">Request a feature</a></li>
					<li><a href="/blog/" class="underline decoration-gray-500">WooCommerce tutorials</a>
				</ul>
			</div>
			<div>
				<h2 class="text-xl font-bold mb-4">Legal</h2>
				<ul class="flex flex-col gap-2 text-gray-200">
					<li><a href="/privacy" class="underline decoration-gray-500">Privacy Policy</a></li>
					<li><a href="/terms" class="underline decoration-gray-500">Terms of Service</a></li>
				</ul>
			</div>
		</div>
		<div class="border-t border-t-gray-600 flex justify-between pt-4 mt-12 text-gray-400">
			<p>&copy; Dashify 2024</p>
			<p class="">Enjoy the rest of your <span id="day"></span>!</p>
		</div>
	</div>
</footer>
