<header class="sticky top-0 h-0">
	<div id="navbar" class="z-10 backdrop-blur-xl transition bg-[#ffffff10] border-b border-b-[#ffffff15]">
		<div class="flex justify-between items-center p-4 max-w-7xl mx-auto">
			<a href="/">
				<div id="nav-logo" class="bg-gray-50 w-[80px] h-[40px]"></div>
			</a>
			<nav class="text-gray-50 font-semibold">
				<a href="/#features" class="ml-8 transition">Features</a>
				<a href="/#pricing" class="ml-8 transition hidden sm:inline ">Pricing</a>
				<a href="https://forms.gle/pRezSbdUcZmvZdX27" class="ml-8 transition hidden sm:inline">Help</a>
				<!-- <a href="/blog" class="ml-8 transition hidden sm:inline">Blog</a> -->
				<a
					id="nav-download-link"
					href="https://wordpress.org/plugins/dashify/"
					class="ml-8 px-4 py-2 rounded-full border border-gray-50 text-gray-50 transition hover:bg-gray-50 hover:text-gray-800"
				>
					Download
				</a>
			</nav>
		</div>
	</div>
</header>
