<header class="sticky top-0 h-0 z-10">
	<div id="navbar" class="backdrop-blur-xl transition bg-[#ffffff10] border-b border-b-gray-200">
		<div class="flex justify-between items-center p-4 max-w-7xl mx-auto">
			<a href="/">
				<div id="nav-logo" class="bg-[#CB8A86] w-[80px] h-[40px]"></div>
			</a>
			<nav class="text-gray-800 font-semibold">
				<a href="/#features" class="ml-8 transition">Features</a>
				<a href="/#pricing" class="ml-8 transition hidden sm:inline">Pricing</a>
				<a href="/blog/" class="ml-8 transition hidden sm:inline">Blog</a>
				<a href="/releases/" class="ml-8 transition hidden sm:inline">What’s new</a>
				<a href="https://forms.gle/pRezSbdUcZmvZdX27" class="ml-8 transition hidden sm:inline">Help</a>
				<a
					id="nav-download-link"
					href="https://wordpress.org/plugins/dashify/"
					class="ml-8 px-4 py-2 rounded-full border border-gray-800 hover:bg-gray-800 hover:text-gray-50 transition"
				>
					Download
				</a>
			</nav>
		</div>
	</div>
</header>
