<section id="pricing" class="py-16 px-4 bg-gray-50 border-t scroll-mt-16">
	<h2 class="text-3xl md:text-4xl text-center font-bold text-gray-800 mb-12">Pricing</h2>
	<div class="flex flex-col lg:flex-row flex-wrap justify-evenly gap-8 max-w-xl lg:max-w-7xl mx-auto">
		<div class="flex flex-col w-full lg:w-2/5 text-gray-700 bg-gray-100 border border-gray-200 p-8 sm:p-16 rounded-lg">
			<h3 class="text-2xl font-semibold mb-4">Free</h3>
			<p>Manage WooCommerce orders effectively.</p>
			<ul class="my-8 divide-y divide-gray-400 flex flex-col">
				<li class="py-4 flex items-center gap-2">
					<svg class="text-gray-500 w-5 h-5 flex-shrink-0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
						<path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
					</svg>
					<a href="#shopify-like-order-view" class="text-blue-600 font-bold">Redesigned order admin</a>
				</li>
				<li class="py-4 flex items-center gap-2">
					<svg class="text-gray-500 w-5 h-5 flex-shrink-0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
						<path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
					</svg>
					<a href="#woocommerce-first-navigation" class="text-blue-600 font-bold">WooCommerce-first navigation</a>
				</li>
				<li class="py-4 flex items-center gap-2">
					<svg class="text-gray-500 w-5 h-5 flex-shrink-0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
						<path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
					</svg>
					<a href="#previous-and-next-order-buttons" class="text-blue-600 font-bold">10 additional upgrades</a>
				</li>
				<li class="py-4 flex items-center gap-2">
					<svg class="text-gray-500 w-5 h-5 flex-shrink-0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
						<path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
					</svg>
					Works with WooCommerce Subscriptions
				</li>
				<li class="py-4 flex items-center gap-2">
					<svg class="text-gray-500 w-5 h-5 flex-shrink-0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
						<path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
					</svg>
					Regular compatibility updates
				</li>
				<li class="py-4 flex items-center gap-2">
					<svg class="text-gray-500 w-5 h-5 flex-shrink-0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
						<path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
					</svg>
					Contact support anytime
				</li>
			</ul>
			<a
				href="https://wordpress.org/plugins/dashify/"
				class="text-center w-full font-semibold p-4 bg-white border border-slate-200 rounded-md shadow-sm hover:shadow-lg transition"
			>
				Download
			</a>
		</div>
		<div class="flex flex-col w-full lg:w-2/5 text-gray-700 bg-gray-100 border border-gray-200 p-8 sm:p-16 rounded-lg">
			<div class="flex justify-between items-center mb-4">
				<h3 class="text-2xl font-semibold">Pro — <b>$3 USD</b> per month, per site</h3>
			</div>
			<p>The complete theme + advanced features.</p>
			<ul class="my-8 divide-y divide-gray-400 flex flex-col">
				<li class="py-4 flex items-center gap-2">
					<svg class="text-gray-500 w-5 h-5 flex-shrink-0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
						<path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
					</svg>
					<a href="#restyled-product-list" class="text-blue-600 font-bold">Dashify theme on more pages</a>
				</li>
				<li class="py-4 flex items-center gap-2">
					<svg class="text-gray-500 w-5 h-5 flex-shrink-0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
						<path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
					</svg>
					<a href="#order-search-from-the-admin-bar" class="text-blue-600 font-bold">Search orders from the admin bar</a>
				</li>
				<li class="py-4 flex items-center gap-2">
					<svg class="text-gray-500 w-5 h-5 flex-shrink-0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
						<path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
					</svg>
					<a href="#hide-custom-fields" class="text-blue-600 font-bold">Hide custom fields in orders</a>
				</li>
				<li class="py-4 flex items-center gap-2">
					<svg class="text-gray-500 w-5 h-5 flex-shrink-0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
						<path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
					</svg>
					<a href="#sort-order-items-by-sku" class="text-blue-600 font-bold">Sort order items by SKU</a>
				</li>
				<li class="py-4 flex items-center gap-2">
					<svg class="text-gray-500 w-5 h-5 flex-shrink-0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
						<path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
					</svg>
					All future Pro features
				</li>
				<li class="py-4 flex items-center gap-2">
					<svg class="text-gray-500 w-5 h-5 flex-shrink-0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
						<path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
					</svg>
					<a href="/refund-policy/" class="text-blue-600 font-bold">30 money-back guarantee</a>
				</li>
			</ul>
			<a
				href="https://account.getdashify.com/register"
				class="text-center w-full font-semibold p-4 rounded bg-gray-800 text-gray-50 shadow-sm hover:shadow-lg transition"
			>
				Buy Dashify Pro
			</a>
		</div>
	</div>
	<h3 class="text-3xl font-bold text-center mt-16 mb-12">FAQs</h3>
	<div class="max-w-xl lg:max-w-7xl mx-auto grid sm:grid-cols-2 gap-2 prose prose-h4:mt-0">
		<div>
			<h4 class="font-semibold mb-2">Do I need to buy additional licenses for staging, development, or local sites?</h4>
			<p>No. A single Dashify Pro license can be activated on an unlimited number of test sites, in addition to one live site. We detect known staging domains, so if it doesn’t, please <a href="/support/">get in touch</a> with us to add a new staging site exception.</p>
		</div>
		<div>
			<h4 class="font-semibold mb-2">Can I use Dashify Pro on a staging site without an active license?</h4>
			<p>No. You’ll still need an active license to use Dashify Pro on a staging site.</p>
		</div>
		<div>
			<h4 class="font-semibold mb-2">Is there a lifetime deal?</h4>
			<p>At the moment, we only offer monthly pricing, but we’re planning to introduce a one time payment once the Dashify theme is fully complete across all of WooCommerce.</p>
		</div>
		<div>
			<h4 class="font-semibold mb-2">Can I change the number of licenses after purchase?</h4>
			<p>Yes. From your account dashboard, you can increase or decrease the number of licenses.</p>
		</div>
	</div>
</section>
