{{ define "main" }}
<section class="pt-40 pb-16 px-4 text-center bg-gradient-to-b from-[#9D6095B3] to-[#E8A04DB3]">
	<h1 class="text-white text-4xl md:text-5xl font-bold mb-8 md:mb-16">A modern, ecommerce-focused admin panel for WooCommerce.</h1>
	<div class="max-w-7xl mx-auto">
		<img
			src="images/dashify-order-list.webp"
			width="3048"
			height="1717"
			alt="Screenshot of the WooCommerce order list page with Dashify styles and functionality."
			class="rounded-lg shadow-2xl"
		>
	</div>
	<div class="mt-16 md:mt-28">
		<p
			class="text-balance text-white text-3xl md:text-4xl font-semibold mb-8"
		>
			Search, navigate, and manage orders faster with Dashify.
		</p>
		<a
			href="/#pricing"
			class="inline-block py-4 px-6 rounded-full bg-gray-800 text-gray-50 text-xl font-semibold hover:shadow-lg transition"
		>
			Get Dashify for free
		</a>
	</div>
	<article class="flex flex-col gap-4 md:gap-0 md:flex-row align-middle mt-16 md:mt-28 xl:mx-20 text-left">
		<article class="flex flex-col gap-4 p-8 md:mx-8 md:w-1/2 bg-gray-50 rounded-lg shadow-md">
			<div class="flex">
				<span class="star inline-block bg-[#e26f56] w-[30px] h-[30px]"></span>
				<span class="star inline-block bg-[#e26f56] w-[30px] h-[30px]"></span>
				<span class="star inline-block bg-[#e26f56] w-[30px] h-[30px]"></span>
				<span class="star inline-block bg-[#e26f56] w-[30px] h-[30px]"></span>
				<span class="star inline-block bg-[#e26f56] w-[30px] h-[30px]"></span>
			</div>
			<p>I’ve been recommending clients use Shopify, because it’s a lot easier to use for beginners, but this totally changes the usability of WooCommerce. This is really excellent.</p>
			<p>
				<a
					href="https://wordpress.org/support/topic/beautiful-391/"
					class="text-blue-600 font-bold"
				>@vhmc41</a>
			</p>
		</article>
		<article class="flex flex-col gap-4 p-8 md:mx-8 md:w-1/2 bg-gray-50 rounded-lg shadow-md">
			<div class="flex">
				<span class="star inline-block bg-[#e26f56] w-[30px] h-[30px]"></span>
				<span class="star inline-block bg-[#e26f56] w-[30px] h-[30px]"></span>
				<span class="star inline-block bg-[#e26f56] w-[30px] h-[30px]"></span>
				<span class="star inline-block bg-[#e26f56] w-[30px] h-[30px]"></span>
				<span class="star inline-block bg-[#e26f56] w-[30px] h-[30px]"></span>
			</div>
			<p>I’m often ashamed of showing the WooCommerce backend to my clients who deal daily with various “easy-to-use” SaaS. This plugin dramatically improved the WooCommerce user experience out-of-the-box.</p>
			<p>
				<a
					href="https://wordpress.org/support/topic/out-of-the-box-modern-woocommerce-backend-design/"
					class="text-blue-600 font-bold"
				>@digitaltreecompany</a>
			</p>
		</article>
	</article>
</section>
<section id="features" class="py-16 scroll-mt-16">
	<h2 class="text-3xl md:text-4xl text-center font-bold text-gray-700 mb-12">How does Dashify make WooCommerce better?</h2>
	<div class="grid md:grid-cols-2 gap-8 px-4 max-w-7xl mx-auto">
		{{ range .Site.Data.index.features }}
		{{ range .free }}
		<div
			id="{{ .title | anchorize }}"
			class="scroll-mt-24 p-8 border target:border-4 target:border-[#E8A04DB3] lg:flex flex-col justify-evenly lg:basis-[48%] bg-white rounded-lg"
		>
			<div class="lg:flex items-center">
				<img
					src="/images/{{ .image }}"
					alt="{{ .imageAlt }}"
					class="mb-8 rounded-lg w-full"
				>
			</div>
			<div>
				<h3 class="text-2xl font-semibold text-gray-600 mb-2">{{ .title }}</h3>
				<p>{{ .description }}</p>
			</div>
			{{ if .action }}
			<div class="mt-6">
				<a
					href="{{ .actionLink }}"
					class="rounded-lg py-2 px-3 text-sm bg-gray-800 text-gray-50 hover:bg-gray-700 hover:text-gray-100 transition-colors"
				>
					{{ .action }}
				</a>
			</div>
			{{ end }}
		</div>
		{{ end }}
		{{ end }}
	</div>
</section>
<section id="pro" class="py-16 scroll-mt-16 bg-gray-700 text-gray-50 border-t">
	<h2 class="text-3xl md:text-4xl text-balance px-4 text-center font-bold mb-4">Get even more WooCommerce upgrades with <span class="text-nowrap text-transparent bg-clip-text bg-gradient-to-br from-[#f74de0dd] to-[#f59f3de3]">Dashify&nbsp;Pro</span>.</h2>
	<a href="#pricing" class="block w-fit mx-auto text-center text-gray-300 mb-12 px-2.5 py-1.5 border border-gray-300 rounded-lg hover:text-gray-200 hover:border-gray-200 transition">Jump to pricing</a>
	<div class="grid md:grid-cols-2 gap-8 px-4 max-w-7xl mx-auto">
		{{ range .Site.Data.index.features }}
		{{ range .pro }}
		<div
			id="{{ .title | anchorize }}"
			class="scroll-mt-24 target:border-4 target:border-[#E8A04DB3] lg:flex flex-col justify-evenly bg-gradient-to-br from-gray-500 to-gray-700 border border-gray-500 p-8 lg:basis-[48%] rounded-lg"
		>
			<div class="lg:flex items-center">
				<img
					src="images/{{ .image }}"
					alt="{{ .imageAlt }}"
					class="mb-8 rounded-lg w-full"
				>
			</div>
			<div>
				<h3 class="text-2xl font-semibold mb-2">{{ .title }}</h3>
				<p class="text-gray-200">{{ .description }}</p>
			</div>
			{{ if .actionLink }}
			<div class="mt-6">
				<a
					href="{{ .actionLink }}"
					class="rounded-lg py-2 px-3 text-sm bg-gray-50 text-gray-800 hover:bg-gray-200 hover:text-gray-700 transition"
				>
					{{ .action }}
				</a>
			</div>
			{{ end }}
		</div>
		{{ end }}
		{{ end }}
		<div id="future" class="scroll-mt-24 lg:flex flex-col justify-evenly bg-gradient-to-br from-gray-500 to-gray-700 border border-gray-500 p-8 lg:basis-[48%] rounded-lg">
			<div>
				<h3 class="text-2xl font-semibold mb-3">Future WooCommerce upgrades</h3>
				<p class="text-gray-200">
					<a href="/roadmap/" class="underline underline-offset-2 font-medium">Check out our roadmap</a> for what’s coming up. We release new features and improve Dashify regularly.
				</p>
			</div>
		</div>
	</div>
</section>
{{ partial "pricing.html" . }}
{{ partial "end-cta.html" . }}
{{ end }}
